<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="form-inline">
        <div>{{message}}{{number}}</div>
        <input class="form-control" type="number" id="number" v-model="number">
        <button class="form-control" class="btn btn-danger" v-on:click="increment">点击加1</button>
    </div>

    <table class="form-inline">
        <tr>
            <td>
                <input class="form-control" type="number" v-model="num1">
            </td>
            <td>
                <input class="form-control" type="number" v-model="num2">
            </td>
            <td>
                <input class="form-control" type="number" v-model="ret">
                <button class="btn btn-success" v-on:click="getSum">求和</button>
                <!--简写绑定方式-->
                <button class="btn btn-success" @click="getSum">求和</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            message: "计算机Vue.js版本",
            number: 1,
            num1: 0,
            num2: 0,
            ret: 0
        },
        methods: {
            increment: function () {
                app.number++;
            },
            getSum: function () {
                this.ret = (this.num1 - 0) + (this.num2 - 0);
            }
        }
    });
</script>
</html>
