<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <!--条件渲染-->
    <input type="checkbox" id="lblshow" v-model="show">
    <label for="lblshow">是否显示</label>
    <div v-if="show">显示与隐藏</div>

    <!--列表循环-->
    <ul>
        <li v-for="item in fruits">
            {{item}}
        </li>
    </ul>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            show: false,
            fruits: ['苹果', '香蕉', '橘子']
        },
        methods: {}
    })
</script>
</html>
